<!-- <h4>Resource URL:</h4>
<p>Showing: {{dangerousVideoUrl}}</p>
<p>Trusted:</p>
<iframe class="e2e-iframe-trusted-src" width="640" height="390" [src]="videoUrl"></iframe>
<p>Untrusted:</p>
<iframe class="e2e-iframe-untrusted-src" width="640" height="390" [src]="dangerousVideoUrl"></iframe>
<div [innerHTML]="htmlStr"></div> -->
<!-- <app-loading-spinner [loading]="!movie"></app-loading-spinner> -->

<div class="movie-info-container" *ngIf="movie">
    <div class="movie-banner-cover">
        <img src="{{movie.cover}}" alt="movie cover">
    </div>
    <div class="movie-detail-container">
        <div class="movie-detail">
            <h2>{{movie.movieName}}</h2>
            <div class="short-info">
                <div class="rate"><span>Puntuacion: <strong>{{movie.rate}}</strong></span></div>
                <!-- <div class="duration"><span>Duracion: <strong>{{movie.length}}</strong></span></div> -->
                <div class="genres">
                    <span>Generos:</span>
                    <!-- <a *ngFor="let genre of movie.genres" [routerLink]="['/movies/']" [queryParams]="{filter:genre}">
                        {{genre}}
                    </a> -->
                    <a *ngFor="let genre of movie.genre">
                                            {{genre}}
                                        </a>
                </div>
            </div>
            <p class="desc ">
                {{movie.description}}
            </p>
            <div class="embed-responsive embed-responsive-16by9 ">
                <iframe class="embed-responsive-item " allowfullscreen [src]="urlSafe "></iframe>
            </div>
        </div>



    </div>
</div>