<!-- 
<mat-card class="cardmat">
    <mat-card-content>
        <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput [(ngModel)]="movie.movieName" required name="name" (keyup)="searchMovieStart()">
            <img src="/assets/loading.svg" *ngIf="searching" class="searching">
        </mat-form-field>
        <div *ngIf="searchResults.length>0" class="search-results">
            <div class="search-results-header">
                <span>Resultados de la búsqueda</span>
                <button mat-icon-button (click)="closeSearchResults()">
                        <mat-icon>close</mat-icon>
                    </button>
            </div>
            <mat-action-list>
                <button *ngFor="let result of searchResults" mat-list-item (click)="selectResult(result)">
                        <img matListAvatar src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/{{result.poster_path|urldecode}}" alt="{{result.title | urldecode}}">
                        <h3 matLine class="search-result-item"> {{result.title | urldecode}} </h3>
                    </button>
            </mat-action-list>
        </div>
        <button (click)="saveload()" mat-raised-button color="accent">Accent</button>

    </mat-card-content>
</mat-card> -->

<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button routerLink="/movies" mat-icon-button>
            <mat-icon>arrow_back</mat-icon>
        </button>
        <span>Añadir película</span>
        <span class="flex-space"></span>
        <button mat-icon-button (click)="saveMovie()" [disabled]="sending">
            <mat-icon >check</mat-icon>
            <!-- <img src="/assets/loading.svg"  class="sending"> -->
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<mat-card class="big-card">
    <mat-card-content>
        <div [ngClass]="{'row':!isMobile, 'col':isMobile}">
            <div class="image-box" [ngClass]="{'col-30':!isMobile, 'col-100':isMobile}">
                <img class="add-movie-cover" [src]="movie.img" alt="{{movie.movieName | urldecode}}">
                <input type="file" name="movie.cover" id="cover" value="" (change)="onCoverChange($event)">
                <!-- <button mat-raised-button color="primary" (click)="uploadCover()">
                <img *ngIf="uploadingCover" src="/assets/loading.svg">
                Añadir carátula
            </button> -->
            </div>
        </div>
        <div class="movie-info" [ngClass]="{'col-70':!isMobile, 'col-100':isMobile}">
            <mat-form-field appearance="outline">
                <mat-label>Nombre</mat-label>
                <input matInput [(ngModel)]="movie.movieName" required name="name" (keyup)="searchMovieStart()">
                <img src="/assets/loading.svg" *ngIf="searching" class="searching">
            </mat-form-field>
            <div *ngIf="searchResults.length>0" class="search-results">
                <div class="search-results-header">
                    <span>Resultados de la búsqueda</span>
                    <button mat-icon-button (click)="closeSearchResults()">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
                <mat-action-list>
                    <button *ngFor="let result of searchResults" mat-list-item (click)="selectResult(result)">
                        <img matListAvatar src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/{{result.poster_path|urldecode}}"
                            alt="{{result.title | urldecode}}">
                        <h3 matLine class="search-result-item"> {{result.title | urldecode}} </h3>
                    </button>
                </mat-action-list>
            </div>
            <!-- <mat-form-field appearance="outline">
                <mat-select placeholder="Elige cine">
                    <mat-option *ngFor="let cinema of [1,1,1]">
                        {{cinema }}

                    </mat-option>
                </mat-select>
            </mat-form-field> -->

            <!-- <mat-form-field appearance="outline">
                <input matInput [matDatepicker]="picker" placeholder="Elige fecha">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker touchUi #picker></mat-datepicker>
            </mat-form-field> -->

        </div>
        <hr class="divider">
        <p>Cover</p>
        <div class="image-box">
            <img class="add-movie-ticket" [src]="movie.cover">
            <input type="file" name="ticket" id="ticket" value="">
            <mat-form-field appearance="outline">
                <mat-label>URL IMDB</mat-label>
                <input [(ngModel)]="movie.url" required name="name" matInput name="url">
            </mat-form-field>
            <iframe [src]="urlSafe"></iframe>
            <button mat-raised-button color="primary" (click)="addurl()">
               
                <img *ngIf="uploadingTicket" src="/assets/loading.svg">
                Añadir entrada
            </button>
        </div>
        <button (click)="saveload()" mat-raised-button color="accent">Accent</button>
    </mat-card-content>
</mat-card>